<% if(cmtAppid&&cmtKey){ %>
<div id="SOHUCS" sid="<%=describe.n?describe.n+' - ':''%><%=title%>" style="padding: 30px 35px 30px 35px;"></div>
<script charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/changyan.js"></script>
<script type="text/javascript">
	window.changyan.api.config({
		"appid": "<%=cmtAppid%>",
		"conf": "<%=cmtKey%>"
	});
</script>
<% } else if(cmtSitePrefix){ %>
<script type="text/javascript" id="wumiiComments">
	var siteUrl = "<%=cmtSitePrefix%>";
	var curPath = "<%=current_path%>";
	var lastIdx = siteUrl.lastIndexOf("/");
	var wumiiPermaLink = (lastIdx == siteUrl.length - 1) ? (siteUrl + curPath) : (siteUrl + '/' + curPath);
	console.log(wumiiPermaLink);
	var wumiiTitle = "<%=describe.n?describe.n+' - ':''%><%=title%>";
	var wumiiSitePrefix = siteUrl;
	var wumiiCommentParams = "&pf=JAVASCRIPT";
</script>
<script type="text/javascript" src="http://widget.wumii.cn/ext/cw/widget"></script>
<%}%>