<% if(cmtAppid&&cmtKey){ %>
<div id="SOHUCS" sid="<%=describe.n?describe.n+' - ':''%><%=title%>" style="padding: 30px 35px 30px 35px;"></div>
<script charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/changyan.js"></script>
<script type="text/javascript">
	window.changyan.api.config({
		"appid": "<%=cmtAppid%>",
		"conf": "<%=cmtKey%>"
	});
</script>
<% } else if(cmtSitePrefix){ %>
<script type="text/javascript" id="wumiiComments">
	var siteUrl = "<%=cmtSitePrefix%>";
	var curPath = "<%=current_path%>";
	var lastIdx = siteUrl.lastIndexOf("/");
	var wumiiPermaLink = (lastIdx == siteUrl.length - 1) ? (siteUrl + curPath) : (siteUrl + '/' + curPath);
	console.log(wumiiPermaLink);
	var wumiiTitle = "<%=describe.n?describe.n+' - ':''%><%=title%>";
	var wumiiSitePrefix = siteUrl;
	var wumiiCommentParams = "&pf=JAVASCRIPT";
</script>
<script type="text/javascript" src="http://widget.wumii.cn/ext/cw/widget"></script>
<%} else if(gitalk){ %>
	<div class="gitalk_container">
	      <style type="text/css">

	        .gitalk_container {
	          margin: 0 auto;
	          padding-bottom: 60px;
	          max-width: 85%;
	          color: #6190E8;
	          font-family: "PingFang SC", Helvetica, "Microsoft YaHei", Arial, sans-serif;
	        }
	        @media (max-width: 720px) {
	          .gitalk_container {
	            width: 90%;
	          }
	        }
	      </style>
	      <div id="gitalk-container"></div>
	      <link rel="stylesheet" href="https://unpkg.com/gitalk@latest/dist/gitalk.css">
	      <script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>
	      <script type="text/javascript">
	        var gitalk = new Gitalk({
	          clientID: "<%=gitalk.clientID%>",
	          clientSecret: "<%=gitalk.clientSecret%>",
	          repo: "<%=gitalk.repo%>",
	          owner: "<%=gitalk.owner%>",
	          admin: "<%=gitalk.admin%>",
	          distractionFreeMode: "<%=gitalk.distractionFreeMode%>"
	        });
	        gitalk.render('gitalk-container');
	      </script>

	    </div>
<%}%>
