<%- include('header',{'type':'archives','pname':'存档'});%>
		<!-- begin content -->
		<div id="content-wrap" class="styles">
			<div class="row wide">
				<div class="col-eight tab-full archive">
					<div class="animate-this message-card">
						<h1 class="archive-year" id="2019">2019</h1>
						<ul>
							<li class="">
								<div class="article-date">07.18</div>
								<a href="post.html" class="article-title">永远别停下前进的脚步...</a>
							</li>
							<li class="">
								<div class="article-date">05.21</div>
								<a href="post.html" class="article-title">不知不觉这手机已经用了一年了</a>
							</li>
							<li class="">
								<div class="article-date">04.30</div>
								<a href="post.html" class="article-title">春天真的到了</a>
							</li>
							<li class="">
								<div class="article-date">03.31</div>
								<a href="post.html" class="article-title">今天是花朝节</a>
							</li>
							<li class="">
								<div class="article-date">02.15</div>
								<a href="post.html" class="article-title">祝大家一事无成...</a>
							</li>
							<li class="">
								<div class="article-date">01.21</div>
								<a href="post.html" class="article-title">新年开始北漂生活</a>
							</li>
							<li class="">
								<div class="article-date">01.01</div>
								<a href="post.html" class="article-title">2018年过去了,我有点怀念TA</a>
							</li>
						</ul>
					</div>
					<div class="animate-this message-card">
						<h1 class="archive-year" id="2018">2018</h1>
						<ul>
							<li class="">
								<div class="article-date">07.18</div>
								<a href="#" class="article-title">永远别停下前进的脚步...</a>
							</li>
							<li class="">
								<div class="article-date">05.21</div>
								<a href="#" class="article-title">不知不觉这手机已经用了一年了</a>
							</li>
							<li class="">
								<div class="article-date">04.30</div>
								<a href="#" class="article-title">春天真的到了</a>
							</li>
							<li class="">
								<div class="article-date">03.31</div>
								<a href="#" class="article-title">今天是花朝节</a>
							</li>
							<li class="">
								<div class="article-date">02.15</div>
								<a href="#" class="article-title">祝大家一事无成...</a>
							</li>
							<li class="">
								<div class="article-date">01.21</div>
								<a href="#" class="article-title">新年开始北漂生活</a>
							</li>
							<li class="">
								<div class="article-date">01.01</div>
								<a href="#" class="article-title">2018年过去了,我有点怀念TA</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-four tab-full">
					<div class="infinity-widget widget_archives">
						<div class="widget-title">
							<h3>Archives</h3>
						</div>
						<p class="archives">
							<a href="#top">全部</a>
							<a href="#2019" title="2019">2019</a>
							<a href="#2018" title="2018">2018</a>
							<a href="#2017" title="2017">2017</a>
							<a href="#2016" title="2016">2016</a>
							<a href="#2015" title="2015">2015</a>
							<a href="#2014" title="2014">2014</a>
							<a href="#2013" title="2013">2013</a>
							<a href="#2012" title="2012">2012</a>
						</p>
					</div>
					<div>
						<%const placeholder='holder.js/10x10?auto=yes&random=yes&text=Mira.Sofia~'%>
						<%const advImage=config.adv?config.adv.image:null%>	
						<a href="<%=config.adv?config.adv.link:'#'%>" target="<%=config.adv?config.adv.target:'_self'%>">
							<img src="<%=advImage%>" data-src="<%=advImage?advImage:placeholder%>" style="width: 100%;max-height:140px;object-fit:cover;" draggable="false" alt="<%=config.user.name%>"/>
						</a>
					</div>
				</div>
			</div>
		</div>
		<!-- end content -->	
<%- include('footer');%>