<article class="col-six tab-full article animate-this">
	<%const placeholder='holder.js/10x10?auto=yes&random=yes&text=EasyDoc'%>	
	<div class="entry-media">
		<a href="<%=relative_path%><%=post.url%>" target="_self">
			<img src="<%=post.cover%>" data-src="<%=post.cover?post.cover:placeholder%>" draggable="false" alt="" style="width: 100%;height: 200px; object-fit:cover;" id="placeholder">
		</a>
	</div>
	<div class="entry-body">
		<div class="entry-header">
			<div class="meta-categories">
				<%if(post.category){%>
					<span class="category-prefix">#</span>
					<a href="category.html" rel="category tag">
						<%=post.category%>
					</a>
				<%}%>
			</div>
			<h1 class="post-title">
				<a href="<%=relative_path%><%=post.url%>" target=""><%=post.name%></a>
			</h1>
			<div class="meta-author-date">
				<span class="meta-date"><%=post.create_time%></span>
			</div>
		</div>
		<div class="entry-content">
			<p>
				<%=post.desc%>
			</p>
		</div>
	</div>
</article>