<%- include('header',{'type':'category','pname':'分类'});%>
		<!-- begin content -->
		<div id="content-wrap" class="styles">
			<div class="row wide">
				<div class="col-eight tab-full">
					<div class="row add-bottom">
						<%-include('article',{'article':2})%>
					</div>
				</div>
				<div class="col-four tab-full">
					<div class="infinity-widget widget_categories">
						<div class="widget-title">
							<h3>Categories</h3>
						</div>
						<p class="category">
							<a href="#" class="current">全部</a>
							<a href="#">旅拍(10)</a>
							<a href="#">心情(36)</a>
							<a href="#">杂文(6)</a>
							<a href="#">系列(12)</a>
							<a href="#">剪辑(6)</a>
							<a href="#">音乐(3)</a>
							<a href="#">电影(6)</a>
							<a href="#">其他(11)</a>
						</p>
					</div>
					<div>
						<%const placeholder='holder.js/10x10?auto=yes&random=yes&text=Mira.Sofia~'%>
						<%const advImage=config.adv?config.adv.image:null%>	
						<a href="<%=config.adv?config.adv.link:'#'%>" target="<%=config.adv?config.adv.target:'_self'%>">
							<img src="<%=advImage%>" data-src="<%=advImage?advImage:placeholder%>" style="width: 100%;max-height:140px;object-fit:cover;" draggable="false" alt="<%=config.user.name%>"/>
						</a>
					</div>
				</div>
			</div>
			<div class="row">
				<nav class="pagination">
					<span class="page-numbers prev inactive">Prev</span>
					<span class="page-numbers current">1</span>
					<a href="#" class="page-numbers">2</a>
					<a href="#" class="page-numbers">3</a>
					<a href="#" class="page-numbers">4</a>
					<a href="#" class="page-numbers">5</a>
					<a href="#" class="page-numbers">6</a>
					<a href="#" class="page-numbers">7</a>
					<a href="#" class="page-numbers">8</a>
					<a href="#" class="page-numbers">9</a>
					<a href="#" class="page-numbers next">Next</a>
				</nav>
			</div>
		</div>
		<!-- end content -->	
<%- include('footer');%>