<%- include('header',{'type':'category','pname':'分类'});%>
		<!-- begin content -->
		<div id="content-wrap" class="styles">
			<div class="row wide">
				<div class="col-eight tab-full">
					<div id="resultBox" class="row add-bottom">

					</div>
				</div>
				<div class="col-four tab-full">
					<div class="infinity-widget widget_categories">
						<div class="widget-title">
							<h3>Categories</h3>
						</div>
						<p class="category">
							<a href="#" class="categoryClick current">全部</a>
							<%if(categoryPost&&categoryPost.length>0){%>
								<%categoryPost.forEach(function(grp){%>
									<a href="#" id="<%=grp.group%>" class="categoryClick"><%=grp.items[0].category%>(<%=grp.items.length%>)</a>
								<%});%>
							<%}%>
						</p>
					</div>
					<div>
						<%const placeholder='holder.js/10x10?auto=yes&random=yes&text=Mira.Sofia~'%>
						<%const advImage=config.adv?config.adv.image:null%>	
						<a href="<%=config.adv?config.adv.link:'#'%>" target="<%=config.adv?config.adv.target:'_self'%>">
							<img src="<%=advImage%>" data-src="<%=advImage?advImage:placeholder%>" style="width: 100%;max-height:140px;object-fit:cover;" draggable="false" alt="<%=config.user.name%>"/>
						</a>
					</div>
				</div>
			</div>
			<div class="row">
				<nav id="paging" class="pagination">
					<a class="page-numbers first">First</a>
					<a class="page-numbers prev">Prev</a>
					<ul class="list" style="display:inline-block;margin-left:0px;"></ul>
					<a class="page-numbers next">Next</a>
					<a class="page-numbers last">Last</a>
				</nav>
			</div>
			<script>
				var relative_path='<%=relative_path%>';
			</script>
			<script src="<%=relative_path%>js/ejs.min.js"></script>
			<script src="<%=relative_path%>js/paging.js"></script>
		</div>
		<!-- end content -->	
<%- include('footer');%>