<%- include('header',{type: "index",'pname':'首页'}); %>
		<%const placeholder='holder.js/10x10?auto=yes&random=yes&text=Mira.Sofia~'%>
		<!-- begin content -->
		<div id="content-wrap">
			<div class="row wide">
				<div class="col-eight tab-full">
					<%if(bannerPost&&bannerPost.length>0){%>
						<div class="brick entry featured-grid animate-this">
							<div class="entry-content">
								<div id="featured-post-slider" class="flexslider">
									<ul class="slides">
										<%bannerPost.forEach(function(post){%>
											<li>
												<div class="featured-post-slide">
													<img src="<%=post.cover%>" data-src="<%=post.cover?post.cover:placeholder%>" draggable="false" class="post-background">
													<div class="overlay"></div>
													<div class="post-content">
														<ul class="entry-meta">
															<li><%=post.create_time%></li>
															<li><a href="#"><%=post.category%></a></li>
														</ul>
														<h1 class="slide-title">
															<a href="<%=relative_path%><%=post.url%>" title=""><%=post.name%></a>
														</h1>
													</div>
												</div>
											</li>
										<%})%>
									</ul>
								</div>
							</div>
						</div>
					<%}%>
					<%if(allPost&&allPost.length>0){%>
						<div class="row add-bottom">
							<%allPost.slice(0,10).forEach(function(post){%>
								<%-include('article',{'post':post,'type':'index'})%>
							<%})%>
						</div>
					<%}%>
				</div>
				<div class="col-four tab-full">
					<div class="infinity-widget animate-this">
						<div class="textwidget">
							<img src="<%=config.user.avatar%>" class="avatar" alt="">
							<h6 style="text-align:center;font-size:16px; letter-spacing:1.5px; margin-bottom:4px;">
								<%=config.user.name%>
							</h6>
							<p style="text-align:center"><%=config.user.desc%></p>

							<img src="images/infinityx1.png" alt="" style="margin:10px auto 0px auto;width:40px;">
						</div>
					</div>
					<div class="infinity-widget infinity_social_widget animate-this">
						<div class="widget-title">
							<h3>Follow Me</h3>
						</div>
						<div class="social-icons">
							<%if(config.user.social&&config.user.social.length>0){%>
								<%var family=config.iconfont&&config.iconfont.family?config.iconfont.family:'engineer'%>
								<%config.user.social.forEach(function(l,i){%>
									<a href="<%=l.link%>" target="<%=l.target%>">
										<i class="<%=family%> <%=l.icon%>"></i>
									</a>
								<%})%>
							<%}%>
						</div>
					</div>
					<div class="infinity-widget widget_categories animate-this">
						<div class="widget-title">
							<h3>Categories</h3>
						</div>
						<p class="category">
							<a href="category.html">全部</a>
							<%if(categoryPost&&categoryPost.length>0){%>
								<%categoryPost.forEach(function(grp){%>
									<a href="category.html#<%=grp.group%>"><%=grp.items[0].category%>(<%=grp.items.length%>)</a>
								<%});%>
							<%}%>
						</p>
					</div>
					<%if(config.echo&&config.echo.photograph){%>
						<div class="infinity-widget animate-this">
							<div class="widget-title">
								<h3><%=config.echo.photograph.name%></h3>
							</div>
							<div class="textwidget">
								<ul class="instagram-feed">
								<%if(config.echo.photograph.links&&config.echo.photograph.links.length>0){%>
									<%config.echo.photograph.links.forEach(function(l){%>
										<li>
											<a target="<%=l.target%>" href="<%=l.link%>">
												<img src="<%=l.image%>" alt="<%=l.name%>">
											</a>
										</li>
									<%});%>
								<%}%>
								</ul>
							</div>
						</div>
					<%}%>
				</div>
			</div>
		</div>
		<!-- end content -->
<%- include('footer'); %>
