<%- include('header',{'type':'message','pname':'留言板'});%>
		<!-- begin content -->
		<div id="content-wrap" class="message">
			<div class="row wide">
				<div class="col-eight tab-full add-bottom">
					<div>
						<%const placeholder='holder.js/10x10?auto=yes&random=yes&text=Mira.Sofia~'%>
						<%const advImage=config.adv?config.adv.image:null%>
						<a href="<%=config.adv?config.adv.link:'#'%>" target="<%=config.adv?config.adv.target:'_self'%>">
							<img src="<%=advImage%>" data-src="<%=advImage?advImage:placeholder%>" style="width: 100%;max-height:140px;object-fit:cover;" draggable="false" alt="<%=config.user.name%>"/>
						</a>
					</div>
					<div class="message-card">
						<div class="message-body">
							<div class="message-header animate-this">
								<h1 class="h3">留言</h1>
							</div>
							<div class="message-content animate-this">
								<p>
									<%-describe._render?describe._render.message:""%>
								</p>
							</div>
						</div>
					</div>
					<%if(config.comment&&config.comment.gitalk&&config.comment.gitalk.clientID){%>
						<%- include('comment',{type: "message",'pname':'留言板'});%>
					<%}%>
				</div>
				<div class="col-four tab-full">
					<div class="message-card no-padding">
						<div class="article-daily">
							<%const words=describe._render&&describe._render.words&&describe._render.words.length>0?describe._render.words:null%>
							<%const word=words?words[Math.floor(Math.random()*(words.length))]:null%>
							<%const time=word&&word.time?word.time:new Date().getTime()/1000%>
							<img class="article-daily-background" src="<%=word&&word.image?word.image:''%>" data-src="<%=word&&word.image?word.image:placeholder%>" />
							<div class="overlay"></div>
							<div class="date">
								<h1 class="day">
									<a href="#" title="" id="#day"><%=new Date(time*1000).getDate()%></a>
								</h1>
								<ul class="month">
									<li><span id="month"><%=new Date(time*1000).getMonth()+1%></span>月,
									<span id="year"><%=new Date(time*1000).getFullYear()%></span></li>
								</ul>
							</div>
							<div class="words">
								<p id="words">
									<%=word&&word.desc?word.desc:''%>
								</p>
							</div>
							<div class="daily-action">
								<span class="badge">每日一言</span>
								<i class="engineer icon-refresh" id="daily-action"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
			var words='<%-JSON.stringify(describe._render&&describe._render.words&&describe._render.words.length>0?describe._render.words:[])%>';
			 words=JSON.parse(words);
			 function randomWord(){
			 	return words[Math.floor(Math.random()*(words.length))];
			 }
			 function renderWord(){
			 	const word=randomWord();
				if(word){
						const time=new Date(word.time*1000);
						$("#day").html(time.getDate());
						$("#month").html(time.getMonth()+1);
						$("#year").html(time.getFullYear());
						$("#words").html(word.desc);
				}
			 }
			 $(function(){
			 	renderWord();
			 });
			 $(".overlay").click(function(){
			 	renderWord();
			 });
		</script>
		<!-- end content -->
<%- include('footer');%>
