<%- include('header',{'type':'post','pname':'日志'});%>
		<!-- begin content -->
		<div id="content-wrap" class="post">
			<div class="row wide">
				<div class="col-eight tab-full">
					<div class="post-container message-card">
						<%const placeholder='holder.js/10x10?auto=yes&random=yes&text=Mira.Sofia~'%>
						<img src="<%=describe.cover%>" data-src="<%=(describe.cover)&&describe.cover.length>0?'':placeholder%>" draggable="false">
						<div class="overlay"></div>
						<div class="post-content">
							<h1 class="post-title">
								<a href="post.html" title=""><%=describe.name%></a>
							</h1>
							<ul class="post-date">
								<li><%=describe.createTime%></li>
								<li><span><%=describe.category%></span></li>
							</ul>
						</div>
					</div>
					<article class="post-body message-card">
						{{content}}
					</article>
					<%if(config.comment&&config.comment.gitalk&&config.comment.gitalk.clientID){%>
						<%- include('comment');%>
					<%}%>
				</div>
				<div class="col-four tab-full">
					<div class="infinity-widget widget_categories">
						<div class="widget-title">
							<h3>KeyWords</h3>
						</div>
						<p class="category">
							<a href="#" class="current">全部</a>
							<a href="#">旅拍(10)</a>
							<a href="#">心情(36)</a>
							<a href="#">杂文(6)</a>
							<a href="#">系列(12)</a>
							<a href="#">剪辑(6)</a>
							<a href="#">音乐(3)</a>
							<a href="#">电影(6)</a>
							<a href="#">其他(11)</a>
						</p>
					</div>
					<div>
						<img src="https://pandapro.demo.nicetheme.xyz/wp-content/uploads/2019/07/2019072006470679.png" style="width: 100%;" />
					</div>
				</div>
			</div>
		</div>
		<!-- end content -->	
<%- include('footer');%>	