<%- include('header',{'type':'post','pname':'日志'});%>
		<!-- begin content -->
		<div id="content-wrap" class="post">
			<div class="row wide">
				<div class="col-eight tab-full">
					<div class="post-container message-card">
						<%const placeholder='holder.js/10x10?auto=yes&random=yes&text=Mira.Sofia~'%>
						<img src="<%=describe.cover%>" data-src="<%=(describe.cover)&&describe.cover.length>0?'':placeholder%>" draggable="false">
						<div class="overlay"></div>
						<div class="post-content">
							<h1 class="post-title">
								<a href="#" title=""><%=describe.name%></a>
							</h1>
							<ul class="post-date">
								<li><%=describe.create_time%></li>
								<li><span><%=describe.category%></span></li>
							</ul>
						</div>
					</div>
					<article class="post-body message-card">
						{{content}}
					</article>
					<%if(config.comment&&config.comment.gitalk&&config.comment.gitalk.clientID){%>
						<%- include('comment',{type: "post",'pname':'文章'});%>
					<%}%>
				</div>
				<div class="col-four tab-full">
					<div class="infinity-widget widget_categories">
						<div class="widget-title">
							<h3>TAGS</h3>
						</div>
						<p class="category">
						<%if(describe.tags&&describe.tags.length>0){%>							
							<%describe.tags.forEach(function(tag){%>
								<a href="#"><%=tag%></a>
							<%});%>
						<%} else {%>
							<a href="#">无</a>
						<%}%>
						</p>
					</div>
					<div>
						<img src="https://pandapro.demo.nicetheme.xyz/wp-content/uploads/2019/07/2019072006470679.png" style="width: 100%;" />
					</div>
				</div>
			</div>
		</div>
		<!-- end content -->	
<%- include('footer');%>	